version: 0.1
log:
  level: debug
  fields:
    service: registry

storage:
  filesystem:
    rootdirectory: /var/lib/registry
  delete:
    enabled: true

http:
  addr: :5000
  headers:
    X-Content-Type-Options: [nosniff]
    Access-Control-Allow-Origin: ['*']
    Access-Control-Allow-Methods: ['GET', 'HEAD', 'POST', 'PUT', 'DELETE', 'OPTIONS']
    Access-Control-Allow-Headers: ['Authorization', 'Content-Type']
    Access-Control-Expose-Headers: ['Docker-Content-Digest', 'WWW-Authenticate']

# Token authentication - matches Go implementation
auth:
  token:
    realm: "http://host.docker.internal:3000/api/registry/token"
    service: aithen-registry
    issuer: aithen-auth
    rootcertbundle: /certs/registry.crt
